
body, header, section, footer, div, a, button, input, textarea {
    transition: background-color 0.8s ease, color 0.8s ease, border-color 0.8s ease, transform 0.8s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

::selection {
    background-color: var(--border);
    color: var(--primary);
}
::-webkit-scrollbar {
    background-color: var(--border);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
}

body {
    background-color: var(--bg-light);
    color: var(--text);
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 16px;
}

.error-content {
    width: min(520px, 100%);
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text);
    margin: 0;
}

.back-link {
    text-decoration: none;
    margin-top: 18px;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary);
    color: var(--bg-light);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.back-link:hover {
    background-color: var(--text);
    color: var(--bg-light);
    transition: 0.3s;
}


@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

