/* اعدادات */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root {
    --primary: #4A90E2;
    --bg-light: #FFFFFF;
    --bg-card: #F8F9FA;
    --text: #1B1C1D;
    --text-gray: #6B7280;
    --accent: #00B4D8;  
    --border: rgba(0, 0, 0, 0.1); 
}



.dark-mode {
    --primary: #4A90E2;
    --bg-light: #121417; /* أفتح شوي من الأسود السادة */
    --bg-card: #1e2126;  /* لون الكروت والفورم */
    --text: #f0f2f5;
    --text-gray: #a0aec0; /* للوصف والروابط الفرعية */
    --accent: #5da2f5;  
    --border: rgba(255, 255, 255, 0.08); 
}

.dark-mode-toggle {
    position: fixed;
    top: 90%;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--bg-card);
    color: var(--text);
    border: none;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1.5s ease;
}

.dark-mode-toggle:hover {
    border-radius: 5px;
    transform: rotate(90deg);
}
body, header, section, footer, div, a, button, input, textarea {
    transition: background-color 0.8s ease, color 0.8s ease, border-color 0.8s ease, transform 0.8s ease;
}
.dark-mode-toggle {
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode-toggle i {
    transition: opacity 0.8s ease, transform 0.8s ease, color 0.8s ease;
}

.dark-mode-toggle:hover { color: #1e3a8a; transform: scale(1.1); }
.dark-mode .dark-mode-toggle:hover { color: #fbbf24; transform: scale(1.1); }
.fa-sun, .dark-mode .fa-moon { display: none; }
.dark-mode .fa-sun { display: block; }
.fa-sun { opacity: 0; transform: scale(0) rotate(-180deg); }
.fa-moon { opacity: 1; transform: scale(1) rotate(0); }
.dark-mode .fa-sun { opacity: 1; transform: scale(1) rotate(0); }
.dark-mode .fa-moon { opacity: 0; transform: scale(0) rotate(180deg); }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

::selection {
    background-color: var(--border);
    color: var(--primary);
}
::-webkit-scrollbar {
    background-color: var(--border);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
}

body {
    background-color: var(--bg-light);
    color: var(--text);
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 16px;
}

.error-content {
    width: min(520px, 100%);
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text);
    margin: 0;
}

.back {
    margin-top: 18px;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary);
    color: var(--bg-light);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.back a {
    text-decoration: none;
    color: var(--bg-light);
    font-size: 1rem;
    font-weight: 600;
}

.back:hover {
    background-color: var(--text);
    transition: 0.3s;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

