/* اعدادات */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Fira+Code:wght@300..700&display=swap');

.dark-mode {
    --primary: #4A90E2;
    --bg-light: #121417; 
    --bg-card: #1e2126;  
    --text: #f0f2f5;
    --text-gray: #a0aec0; 
    --accent: #5da2f5;  
    --border: rgba(255, 255, 255, 0.08); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

::selection {
    background-color: var(--border);
    color: var(--primary);
}
::-webkit-scrollbar {
    background-color: var(--border);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
}

.p-3 {
    height: 100%;
}

.sidebar .text-muted {
    color: var(--text-gray) !important;
}

.sidebar .active-link {

}

.sidebar .active-link {
    background-color: var(--primary);
    color: var(--bg-light);
}

.sidebar .accordion-button {
    background-color: var(--bg-card);
    color: var(--text);
    border: none;
    box-shadow: none;
}

.sidebar .accordion-button:not(.collapsed) {
    background-color: var(--bg-card);
    color: var(--primary);
}

.sidebar .accordion-item {
    background-color: var(--bg-card);
    border: none;
}

.sidebar a {
    color: var(--text);
    transition: color 0.2s;
    text-decoration: none;
}

.sidebar a:hover {
    color: var(--primary);
}

.sidebar-toggle {
    display: none;
}

pre {
    width: 900px;
    height: auto;
}


.sidebar {
    overflow-y: auto;
    height: 100vh;
    width: 200px;
    position: sticky;
    top: 0;
  }

#app {
    overflow-y: auto;
    height: 100vh;
    padding-left: 70px;
    padding-top: 30px;
    height: 100vh;
    width: 100%;
}

code {
    color: var(--text);
}

p {
     width: 900px;
}


.link {
    color: var(--text-gray);
}
